version: "3.9"

services:
  db:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-custom_rbac}
      POSTGRES_USER: ${POSTGRES_USER:-custom_rbac}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-custom_rbac}
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6380:6379"

  app:
    build: .
    command: python src/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL:-postgresql://${POSTGRES_USER:-custom_rbac}:${POSTGRES_PASSWORD:-custom_rbac}@db:5432/${POSTGRES_DB:-custom_rbac}}
      REDIS_URL: ${REDIS_URL:-redis://redis:6379/0}
      SECRET_KEY: ${SECRET_KEY:-change-me}
      ALLOW_SUPERUSER_BYPASS: ${ALLOW_SUPERUSER_BYPASS:-False}
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"

volumes:
  db_data:
